html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("../src/background.jpg");
  background-color: #f0f0f0;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  
}